@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
.login a{
    text-decoration: none;
    margin-right: 20px;
}
.tombol a{
    text-decoration: none;
    margin-right: 15px;
}
.sign-in{
    background-color: #138e8a;
    color: #fff;
    padding: 4px 20px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    border: 1px solid #138e8a;
}
.sign-up{
    border: 1px solid #138e8a;
    padding: 4px 20px;
    color: #000;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}
.sign-in:hover{
    border: 1px solid #138e8a;
    padding: 4px 20px;
    background: none;
    color: #000;
}
.sign-up:hover{
    background-color: #138e8a;
    color: #fff;
}
.logout{
    background-color: #138e8a;
    color: #fff;
    padding: 3px 20px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}
.logout:hover{
    background-color: #18afaa;
}
.keranjang i{
  font-size: 30px;
  margin-right: 20px;
}
.beli{
    color: #138e8a;
    border-bottom: 1px solid black;
    transition: 0.2s ease-in-out;
}
.beli:hover{
    border-bottom: none;
    color: black;
}
.check{
    background-color: #138e8a;
    color: #fff;
    padding: 4px 20px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}
.check:hover{
    background-color: #18afaa;
}
